<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <style>
        h1 {
            text-align: center;
            font-style: italic;
            font-size: 4em;
            color: black;
        }

        p {
            color: black;
            text-align: center;
            font-size: 2em;
        }

        button {
            height: 50px;
            width: 100px;
        }

        div {
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Welcome!</h1>
    <div>
        <br><br><br><br><br>
        <form action="/_new_user" method="POST">
            <p>Username: </p>
            <input type="text" name="username" id="username">
            <p>Password: </p>
            <input type="text" name="password" id="password">

            <br><br>

            <button>MAKE MY ACCOUNT</button>
        </form>



    </div>
</body>
</html>
